{% extends "coltrane/blog_base.html" %}

{% block title %}{{ block.super }} | Статьи. {% endblock %}

{% block content %}







<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
        
        
		<div id="main_content">
            
            {% load endless %}
            {% paginate object_list %}  
            
            {% for entry in object_list %}
            <div class="post_section">
                
                <a href="{{ entry.get_absolute_url }}">
                <h2 class="entry_title">{{ entry.title }}</h2>
                </a>
                
                {{ entry.pub_date|date:"F j, Y" }} in 
                {% for category in entry.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    {% if forloop.last %}{% else %}
                    {% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
                    {% endif %}
                {% endfor %}
                            
                by <a href="/" target="_parent">{{ entry.author }}</a>
                
                <div class="post_content">
                    
                    <div class="right">
                    <a href="{{ entry.get_absolute_url }}"><img src="{{ entry.article_icon_thumbnail_std}}" alt="{{ entry.title }}" /></a>                </div>
                    
                    <div class="left">
                        {% if entry.excerpt_html %}
                        {{ entry.excerpt_html|safe }}
                        {% else %}
                        {{ entry.body_html|truncatewords_html:"50"|safe }}
                        {% endif %}
                        <a href="{{ entry.get_absolute_url }}">Читать дальше...</a> | <a href="#">Комментарии (128)</a>
                    </div>
                    
                    <div class="cleaner"></div>
                </div>
                
                
                
            </div>
            
            {% endfor %}
            
            {% show_pages %}
            
        </div> <!-- end of main_content -->
        
        {% include "osov/sidebar.html" %}
        
        
		<div class="cleaner"></div>
    </div> <!-- end of content -->
    
</div> <!-- end of content_wrapper --> 


{% endblock %}




{% block whatis %}
<p>This is a list of the latest {{ latest.count }} entries published in
my blog.</p>
{% endblock %}