{% extends "coltrane/blog_base.html" %}

{% block title %}{{ block.super }} | Статьи. {% endblock %}

{% block content %}







<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
        
        
		<div id="main_content">
            {% load endless %}
            {% paginate latest %}  
            {% for entry in latest %}
            <div class="post_section">
                
                <a href="{{ entry.get_absolute_url }}">
                <h2 class="entry_title">{{ entry.title }}</h2>
                </a>
                
                {{ entry.pub_date|date:"F j, Y" }} in 
                {% for category in entry.categories.all %}
                    <a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
                    {% if forloop.last %}{% else %}
                    {% ifequal forloop.revcounter0 1 %}and {% else %}, {% endifequal %}
                    {% endif %}
                {% endfor %}
                            
                by <a href="/" target="_parent">{{ entry.author }}</a>
                
                <div class="post_content">
                    
                    <div class="right">
                    <a href="{{ entry.get_absolute_url }}"><img src="{{ entry.article_icon_thumbnail_std}}" alt="{{ entry.title }}" /></a>                </div>
                    
                    <div class="left">
                        {% if entry.excerpt_html %}
                        {{ entry.excerpt_html|safe }}
                        {% else %}
                        {{ entry.body_html|truncatewords_html:"50"|safe }}
                        {% endif %}
                        <a href="{{ entry.get_absolute_url }}">Читать дальше...</a> | <a href="#">Комментарии (128)</a>
                    </div>
                    
                    <div class="cleaner"></div>
                </div>
                
                
                
            </div>
            
            {% endfor %}
            {% show_pages %}
        </div> <!-- end of main_content -->
        
        <div id="sidebar">
            
            
            <div id="request_a_quote">
                
                <h2>Отправить заявление</h2>
                <p>Вы можете присоединиться к организации, по запросу будет выслан бланк заявления... </p>
                
                
                <form action="#" method="post">
                    <label>Имя</label>
                    <input type="text" value="" name="q" size="10" class="quote_input" title="name" />
                    <label>Email</label>
                    <input type="text" value="" name="q" size="10" class="quote_input" title="email" />
                    <input type="submit" name="Submit" value="" alt="Submit" id="submit_btn" title="Submit" />
                </form>
                
                <div class="cleaner"></div>
            </div>
            
            <div id="sidebar_featured_project">
                
                <h3>Последние Обновления.</h3>
                <div class="left"><img src="static/images/maker.png" alt="image" /></div>
                <div class="right">
                    <h6>Lorem ipsum dolor sit</h6>
                    <p>Cras purus libero, dapibus nec rutrum in, dapibus nec risus. Ut interdum mi sit amet magna feugiat auctor.</p>
                </div>
                
                <div class="cleaner"></div>
                
            </div>
            
            <div id="news_section">
                
                <h3>Новости от участников.</h3>
                
                <div class="news_box">
                    <a href="#">Lorem ipsum dolor sit amet consectetur </a>
                    <p>Maecenas tellus erat, dictum vel semper a, dapibus ac elit. Nunc rutrum pretium porta.</p>
                </div>
                
                <div class="news_box">
                    <a href="#">Aenean feugiat mattis est nec egestas</a>
                    <p>Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
                </div>
                
                <div class="cleaner"></div>     
            </div>
            
            
        </div> <!-- end of sidebar -->
        
        
		<div class="cleaner"></div>
    </div> <!-- end of content -->
    
</div> <!-- end of content_wrapper --> 


{% endblock %}




{% block whatis %}
<p>This is a list of the latest {{ latest.count }} entries published in
my blog.</p>
{% endblock %}