{% extends "videogallery/video_base.html" %}





{% block content %}
<div id="templatemo_content_wrapper">
	<div id="templatemo_content">
        
		<div id="main_content">
            
            <h2>Видеогаллерея.</h2>
            
            <p>Здесь представлен видеоархив организации.</p>
            
            <div class="cleaner_h30"></div>
            {% for video in object_list %}
            <div class="services_section">
                
                <h4><a href="{{ video.get_absolute_url }}">{{ video.title }}</a></h4>
                
                <div class="services_content">
                    
                    <div class="left">
                        <a href="{{ video.get_absolute_url }}">
                        <img src="{{ video.thumb_url }}" alt="{{ video.title }}" />
                        </a>
                    </div>
                    
                    <div class="right">
                        {{ video.excerpt_html|safe}}
                        
                    </div>
                    <div class="cleaner"></div>
                </div>
                
                <div class="cleaner"></div> 
                
            </div>
            {% endfor %}
            
            
            
        </div> <!-- end of main_content -->
        
        
        {% include "osov/sidebar.html" %}
        
    
{% endblock content %}