<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>ОО Славянское Объединение и возрождение. {% block title %}{% endblock %}</title>
        <meta name="keywords" content="OOSOV, OO, славянскоеб объединение, возрождение, организация, общественная, оосов, ООСОВ, общественная организация, славянское объединение, славянское возрождение, славянское объединение и возрождение" />
        <meta name="description" content="Общественная организация славянское объединение и возрождение" />
        <link href="/static/css/templatemo_style.css" rel="stylesheet" type="text/css" />
        <link href="/static/css/jquery.ennui.contentslider.css" rel="stylesheet" type="text/css" media="screen,projection" />
        
        {% block additional_styling %}{% endblock %}
        
        <!-- Site JavaScript -->
        <script type="text/javascript" src="/static/js/jquery-1.3.1.min.js"></script>
        
        {% block page_specific_scripting %}{% endblock %}
    </head>
    <body>
        <div id="templatemo_header_wrapper">
            <div id="templatemo_header">
                
                <div id="site_title">
                    <h1 class="main header"><a href="index.html">
                        <!-- <img class="heraldics" src="images/slider/heraldics.png" alt="Work 01" /> -->
                        <span>общественная организация</span>
                        <strong>Славянское </strong>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Объединение и<br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Возрождение
                        <span>&nbsp;</span>
                    </a></h1>
                </div>
                
                <div id="templatemo_menu">
                    
                    {% block horis_menu %}
                    
                    {% endblock %}
                    
                </div> <!-- end of templatemo_menu -->
                
                <div class="cleaner"></div>
            </div> <!-- end of header -->
            
        </div> <!-- end of header_wrapper -->
        
        {% block content%}
        
        {% endblock %}
        
        <div id="templatemo_content_wrapper">
            <div id="templatemo_content">
                
                <h1>Манифест ОО «Славянское объединение и возрождение»</h1>
                <div class="image_wrapper fl_img">
                    <a href="http://www.templatemo.com" target="_parent"><img src="/static/images/templatemo_image_01.jpg" alt="image" /></a>       
                </div>
                <p>Это ресурс ОО <a href="/" target="_parent"> СОВ</a> посвящённый <a href="
                  /" target="_parent">славянскому сопротивлению</a>Спасибо 
                    <a href="/"target="_blank">Организациям</a> 
                    
                    <p>
                        Вот уже, сколько веков на земле наших славных предков происходят процессы, губительные для нашего народа, его целостности и духовной чистоты. Бессмысленные войны, революции и прочие «эксперименты» все сильнее толкают нас в пропасть и ведут к исчезновению нашего великого народа. Святая Русь разделена на части, а в душах людей посеяна смута, вследствие ряда исторических ошибок и несправедливостей!
                        
                        На протяжении продолжительного времени славянский народ испытывал на себе тяжесть большевистской тирании. Большевики отняли у нас многие права и свободы, но сохранялось одно – единство восточно-славянских земель, называемых Русью. Сейчас не стало и этого! Наша Родина раздроблена, а народ стравливают в междоусобной розни. Ведётся полномасштабная информационная война за овладение умами и душами людей! Наша история целенаправленно искажается, национальное и культурное самосознание подменяется безумными идеями и извращенной поп-культурой, разрушаются основы здоровой семьи, а также ведётся безудержный алкогольный и наркотический террор.
                        
                        Наше историческое, национальное и культурное развитие заходит в тупик благодаря вышеперечисленным губительным факторам. Сейчас, на рубеже эпох от нас зависит наше будущее!
                        
                        Исходя из этого, представители наиболее активной и сознательной части славянского народа создали общественную организацию «Славянское объединение и возрождение».
                        
                        Главной целью общественной организации « Славянское объединение и возрождение» является защита и реализация законных социальных, экономических, творческих, национально-патриотических, национально-культурных, спортивных и других интересов славянского народа, а так же возрождение и приумножение русского этноса.
                    </p>
                    <p>
                        Своими основными задачами общественная организация «Славянское объединение и возрождение» ставит:
                    </p>
                    <p>
                        Возрождение славянского народа.
                        Формирование национального самосознания.
                        Морально-нравственное воспитание на основе исторических славянских ценностей.
                        Проведение славянских национально-культурных и спортивно-патриотических мероприятий, возрождение национальных обычаев и традиций.
                        Изучение истории, а также проведение мероприятий по увековечиванию памяти славянских героических предков с целью воспитания патриотизма.
                        Межнациональная дружба и сотрудничество на базе общей истории.
                        Пропаганда здорового образа жизни и крепкой многодетной семьи.
                        Поиск решений экологических проблем и последующая их реализация, с целью создания положительных экологических жизненных условий для успешного развития славянского народа.
                    </p>
                    
                    <p>
                        Прочитал сам, передай другому!
                    </p>
                    <p>
                        Приходите: воскресенье с 11.00-14.00
                        
                        Адрес: АР Крым г. Симферополь, ул. Гоголя, д.19; имеются представители организации в
                        
                        г. Евпатория и г. Керчь.
                        
                        Телефон: +38 066-443-70-88
                        
                        Сайт: www.oosov.org
                    </p>
                    
                </div> <!-- end of content -->
                
            </div> <!-- end of content_wrapper --> 
            
            <div id="templatemo_footer_wrapper">
                
                <div id="templatemo_footer">
                    
                    <ul class="footer_menu">
                        <li><a href="{% url 'home_page' %}" class="current" >Главная</a></li>
                        <li><a href="{% url 'videogallery_list' %}" >Видео</a></li>
                        <li><a href="{% url 'coltrane_entry_archive_index' %}" >Блог</a></li>
                        <li><a href="{% url 'photogallery_list' %}"  >Фото</a></li>
                        <li><a href="{% url 'contacts' %}" >Контакты</a></li>
                    </ul>
                    
                    Copyright © 2013 <a href="/">ОО Слав'янське Объединение и возрождение</a>  
                    
                    
                </div> <!-- end of footer -->  
            </div> <!-- end of footer_wrapper -->
            
        </body> 
    </html>    